<!DOCTYPE html>
<html lang="en">

<head>
  <header>
    <!-- navigation -->
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">

          <img src="https://cdn-icons-png.flaticon.com/512/3176/3176833.png" width="30" height="30"
            class="d-inline-block align-top" alt="expense-tracker">
          {{#if isAuthenticated}}{{ user.name}}
          's{{/if}} Expense Tracker
        </a>

        {{#if isAuthenticated}}
        <a href="/users/logout" class="btn btn-outline-dark">Logout</a>
        {{else}}
        <a href="/users/login" class="btn btn-outline-dark">Login</a>
        {{/if}}

      </div>
    </nav>

  </header>

  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />

  {{!-- //fontawesome --}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>

<body>

  <!-- partial templates will replace the part of "body" here -->
  {{{ body }}}

  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>

</body>

</html>